In [99]:
import pandas as pd
df=pd.read_csv('customer_shopping_behavior.csv')  #imiporting csv file into pandas dataframe

In [100]:
df.head()   #checking data

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [102]:
df.info()  #inspect the structure of your dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [104]:
# generates descriptive statistics of your DataFrame. By default, it only summarizes numeric columns, 
#to get all column add parameter as include='all'
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [106]:
 #checking missing values per column.
#here reveiw rating columns has null value ,  decide whether to drop or impute missing data.
#Nulls are ignored in aggregations in pythong,
#if you use a column with nulls without handling them, you’ll often get NaN results or lose rows in filtering.
df.isna().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [107]:
# filling null(na value with median, which recommeded, because mean(average) will create outliers
#df.dropna() → remove rows/columns with nulls , our analysis may go wrong, 
df['Review Rating']=df.groupby('Category')['Review Rating'].transform(lambda x:x.fillna(x.median())) 
#above line fills missing review ratings with the median rating of their category,
#ensuring more meaningful imputation than just using a global median.
#Median is robust against outliers, making it a good choice for imputation

In [108]:
df.isnull().sum()    #checkig for na column filled with median value or not

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [109]:
# if you observer columns names are with caps and small letters and spaces bewteen words, its very difficult to handle,
#lets make it as all small letter and one word
df.columns=df.columns.str.lower()   
df.columns=df.columns.str.replace(' ','_')  # repalceing space with _
 # purchase amount column format doese not look good, and diffuclt to handle, so renaming column name
df=df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [110]:
#lets check columns name renamed and got as expected or not
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [111]:
#creating new column  as age_group based on age
#lets label age group as below by creating list 
labels=['Young Adult','Adult','Middle Aged','Senior']
#categorize continuous variables (like age) into quantile-based groups.
#createing an age group column by splitting ages into 4 equally sized bins and labeling them with your custom names from label variable.
df['age_group']=pd.qcut(df['age'],q=4,labels = labels)

In [112]:
#lets check  new colum with 10 sample data
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle Aged
1   19  Young Adult
2   50  Middle Aged
3   21  Young Adult
4   45  Middle Aged
5   46  Middle Aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle Aged

In [113]:
#lets observer frequency_of_purchases columns which has categorical text data, which we can cant campare with each other columns
#lets see those data,by printing unique data
print(df['frequency_of_purchases'].unique())

['Fortnightly' 'Weekly' 'Annually' 'Quarterly' 'Bi-Weekly' 'Monthly'
 'Every 3 Months']

In [114]:
#lets create new column purchase_frequecy_days with numeric column
#to create new column we need numberic values, so lets create list variable as frequency_mapping , this we can map later
frequency_mapping={
    'Fortnightly':14,
    'Weekly':7,
    'Annually':365,
    'Quarterly':90,
    'Bi-Weekly':14,
    'Monthly':30,
    'Every 3 Months':90
}
#create new columns with nubmers by mappig above list
df['purchase_frequecy_days']=df['frequency_of_purchases'].map(frequency_mapping)

In [115]:
# lets check mapped numbers with text for those coumns with 10 rows
df[['frequency_of_purchases','purchase_frequecy_days']].head(10)

  frequency_of_purchases  purchase_frequecy_days
0            Fortnightly                      14
1            Fortnightly                      14
2                 Weekly                       7
3                 Weekly                       7
4               Annually                     365
5                 Weekly                       7
6              Quarterly                      90
7                 Weekly                       7
8               Annually                     365
9              Quarterly                      90

In [116]:
#lets check dissount applied along with promo code code has same data, any new data present just 10 rows
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [117]:
#lets check dissount applied along with promo code, if same data , then one column is not usefull,if you output as True
(df['discount_applied']==df['promo_code_used']).all()

np.True_

In [118]:
#lets drop 1 column, which is not usefull 
df=df.drop('promo_code_used',axis=1)

In [119]:
#lets whether dropped column exist  or not
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequecy_days'],
      dtype='object')

*lets install sqlalchemy ,pyodbc, these liberary required for connecting msql and create table and pusing cleaned & transformed data
#if these liberary already isntalled,you will get below output, else will be istalled

pip install sqlalchemy  pyodbc

In [126]:
from sqlalchemy import create_engine
import pyodbc
# Connection string format 
#connection_string = ( "mssql+pyodbc://Userame:Password@servername:PorNumber/DBName/SchemaNAme?driver=ODBC+Driver+17+for+SQL+Server")
connection_string = ( "mssql+pyodbc://external:Ex%212026@GURUPADAYYA\\MSSQLSERVER1/customer_behavior" "?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes")
# Creating engine by connection string
engine = create_engine(connection_string)
table_name="customer_purchases"   #table name to create
df.to_sql(table_name,engine,if_exists="replace",index=False)  #executing data frame to converting to sql 
print(f"data successfully loaded into table {table_name} in database customer_behavior ")

D:\PYTHON LEARNING\myenv\Lib\site-packages\pandas\io\sql.py:1648: SAWarning: Unrecognized server version info '17.0.1000.7'.  Some SQL Server features may not function properly.
  con = self.exit_stack.enter_context(con.connect())

data successfully loaded into table customer_purchases in database customer_behavior

In [128]:
pyodbc.drivers()  #checking avaible drivers ,to use in connection string

['SQL Server',
 'ODBC Driver 17 for SQL Server',
 'ODBC Driver 18 for SQL Server']